* {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #82e9ff;
    overflow-x: hidden;
}

body.scroll-lock {
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
  
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}










#placeholder {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999999999999999999999999999999999;
    background: rgb(0, 82, 102);
    display: none;
    align-items: center;
    justify-content: center;
}

#placeholder-content {
    width: 90vw;
    text-align: center;
    color: white;
    transform: translateY(-5vh);
}

#placeholder-content img {
    width: 80vw;
    margin-bottom: 3vh;
}

#placeholder-content h1 {
    font-size: 10vh;
}

#placeholder-content p {
    font-size: 3vh;
    margin-bottom: 6vh;
}

#placeholder-content #small {
    font-size: 1.5vh;
    margin-bottom: 3vh;
}

#placeholder-content a {
    padding: 2vh 15vw;
    border: 2px solid white;
    border-radius: 100vh;
    color: white;
    text-decoration: none;
    font-size: 3vh;
}










nav {
    height: 10vh;
    width: 100%;
    background: white;
    z-index: 10000000000000000;
    position: fixed;
}

nav img {
    position: absolute;
    height: 10vh;
    left: 0;
}

#nav-links {
    height: 10vh;
    width: 75vw;
    margin: auto;
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
}

#nav-links a {
    position: relative;
    font-size: 2.5vh;
    text-decoration: none;
    color: rgb(0, 82, 102);
}

#nav-links a:after {    
    content: "";
    display: block;
    height: 0.4vh;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    bottom: -0.45vh;
    background: rgb(255, 134, 53);
    transition: ease-in-out 0.3s;
    width: 0;
    transform: translateX(-50%); 
}

#nav-links a:hover:after { 
    width: 100%; 
    
}

#mobile-nav {
    display: none;
    height: 100vh;
    background-color: rgb(0, 82, 102);
    width: 60vw;
    right: -100vw;
    position: fixed;
    z-index: 100000;
    transition: 0.6s;
}

#open-button {
    display: none;
    position: fixed;
    height: 5vh;
    padding: 1vh 1.5vh 1.5vh 1vh;
    z-index: 1000000;
    background: rgb(255, 134, 53);
    border-radius: 0 0 2vh 0;
    box-shadow: -2vh 1vh 0 0 rgb(0, 82, 102);
}

#close-button {
    position: absolute;
    height: 7vw;
    padding: 4vw;
    right: 0;
}

#mobile-nav ul {
    position: absolute;
    left: 10vw;
    top: 10vw;
}

#mobile-nav ul li {
    padding: 5vw;
    list-style: none;
}

#mobile-nav ul li a {
    text-decoration: none;
    font-size: 4.5vw;
    color: white;
    font-weight: bold;
}










.header {
    position: relative;
    top: 10vh;
    height: 70vh;
    width: 100vw;
    background: url(images/carousel1.jpg);
    background-position: center;
    background-size: cover;
}

.header h1 {
    position: relative;
    height: 70vh;
    width: 100vw;
    color: white;
    font-size: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgba(0, 62, 77, 0.3), rgba(0, 62, 77, 0.3));
}

.footer {
    position: relative;
    width: 100vw;
    background: rgb(0, 82, 102);
    border-top: 2vh solid rgb(255, 102, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

#about-us {
    height: min-content;
}

.footer div {
    width: 28vw;
    background: rgb(0, 69, 87);
    padding: 2vh;
    border-radius: 1vh;
    margin: 3vh 0;
}

.footer h1 {
    font-size: 5vh;
    color: rgb(255, 102, 0);
    margin-bottom: 1vh;
}

.footer ul {
    list-style: none;
}

.footer ul li a,
.footer ul li,
.footer p {
    font-size: 2vh;
    color: white;
    line-height: 3vh;
}

#home-footer {
    transform: translateY(-0.5vh);
}










#header {
    height: 90vh;
    width: 100vw;
    margin: auto;
    background-size: cover;
    background-position: center;
    transition: 1s;
}

#header-overlay {
    height: 90vh;
    width: 100vw;
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(0, 62, 77, 0.2);
}

#header-content {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

#header-content img {
    height: 35vh;
    padding-bottom: 1vh;
}

#header-content h1 {
    font-size: 10vh;
}

#header-content p {
    font-size: 4vh;
    white-space: nowrap;
}

#header-content #small {
    font-size: 1.5vh;
    white-space: nowrap;
    padding-bottom: 1.5vh;
}

#header-content a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 0px;
    font-size: 3vh;
    line-height: 10vh;
    border-radius: 100px;
    padding: 1.5vh 2vw;
    font-weight: bold;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-in-out 0.4s;
}

#header-content a:hover {
    box-shadow: inset 20vw 0 0 0 white;
    color: rgb(0, 82, 102);
}

#down {
    position: absolute;
    width: 7vh;
    height: 7vh;
    text-align: center;
    line-height: 8vh;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 4vh;
    border: 2px solid white;
    border-radius: 100%;
    transition: 0.3s ease-in-out;
    box-shadow: inset 0 0 0 0 white;
}

#down:hover {
    box-shadow: inset 0 10vh 0 0 white;
    color: rgb(0, 82, 102);
}

#header-boxes {
    width: 80vw;
    height: 45vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 45%);
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
}

.box {
    height: 100%;
    width: 25%;
    border-radius: 1.5vh;
    position: relative;
    color: white;
    z-index: 100;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.box h2 {
    position: absolute;
    text-align: center;
    width: min-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    z-index: 102;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.box p {
    position: absolute;
    text-align: center;
    width: 90%;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vh;
    z-index: 102;
    line-height: 2.2vh;
    transition: 0.3s ease-in-out;
    pointer-events: none;
    text-align: left;
}

#box1 {
    background: url(images/carousel1.jpg);
    background-size: cover;
    background-position: center;
}

#box2 {
    background: url(images/carousel2.jpg);
    background-size: cover;
    background-position: center;
}

#box3 {
    background: url(images/carousel3.jpg);
    background-size: cover;
    background-position: center;
}

#header-boxes-shadows {
    width: 80vw;
    height: 45vh;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 45%);
    display: flex;
    justify-content: space-evenly;
    z-index: 99;
}

.box-shadow {
    height: 100%;
    width: 25%;
    background-color: rgb(0, 82, 102);
    border-radius: 1.5vh;
}

.box-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 82, 102, 0.4);
    z-index: 101;
    transition: 0.3s ease-in-out;
}

.box:hover .box-overlay {
    background: rgb(255, 134, 53);
}

.box:hover h2{
    top: 5%;
    left: 5%;
    transform: initial;
    text-align: left;
}

.box:hover p {
    bottom: 5%;  
}

.box:hover {
    transform: translate(4vh, 4vh) scale(1.1);
}

#golf-course {
    position: relative;
    margin-top: 27vh;
}

#golf-course-bg {
    width: 100vw;
}

#golf-course-bg-portrait {
    display: none;
}

#scroll-to-here{
    position: absolute;
    width: 5vh;
    height: 5vh;
    left: 50%;
    top: 25%;
}

#products-flag-img {
    height: 27vw;
}

#products-flag-a {
    position: absolute;
    top: 52%;
    left: 38%;
}

#about-flag-img {
    height: 21vw;
}

#about-flag-a {
    position: absolute;
    top: 46%;
    left: 67%;
}

#why-flag-img {
    height: 17vw;
}

#why-flag-a {
    position: absolute;
    top: 41%;
    left: 28%;
}

#contact-flag-img {
    height: 12vw;
}

#contact-flag-a {
    position: absolute;
    top: 38%;
    left: 57%;
}










#products-box {
    position: relative;
    background: rgb(255, 134, 53);
    border-radius: 0vh 2vh 2vh 0vh;
    box-shadow: -2vh 2vh 0 0  rgb(0, 82, 102);
    width: min-content;
    padding: 2vh;
}

#products-box-content h1 {
    font-size: 3.5vh;
    margin-bottom: 1vh;
    color: white;
}

#products-box-content-images {
    display: flex;
    justify-content: space-evenly;
}

#products-box-content-images img {
    height: 20vh;
    margin: 0 2vh;
}

#products-shop-button-container {
    display: flex;
    justify-content: center;
}

#products-shop-button {
    text-decoration: none;
    color: rgb(255, 102, 0);
    padding: 2vh 4vw;
    font-size: 3vh;
    position: relative;
    box-shadow: inset 0 0 0 0 rgb(255, 134, 53);
    transition: 0.5s;
    border-radius: 1vh;
    background: white;
    margin: 9vh 0 7vh 0;
}

#products-shop-button:hover {
    box-shadow: inset 25vw 0 0 0 rgb(255, 134, 53);
    color: white;
}

#products-carousel {
    position: relative;
    margin: 0 auto 9vh auto;
    width: 70vw;
}

#products-carousel-image-container {
    background-color: white;
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
}

#products-carousel-image-left {
    width: 40vw;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 2vh;
    transform: translateY(-50%);
}

#products-carousel-image {
    position: relative;
    width: 50vw;
    border-radius: 3.5vh;
    z-index: 2;
    border: 1.5vh solid white;
    left: 50%;
    transform: translateX(-50%);
    margin: 1vh 0;
}

#products-carousel-image-right {
    width: 40vw;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    right: 2vh;
    transform: translateY(-50%);
}

.carousel-button {
    position: absolute;
    height: 7vh;
    width: 7vh;
    background: rgb(255, 134, 53);
    z-index: 10001;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    box-shadow: inset 0 0 0 0 white;
}

.carousel-button a {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    text-decoration: none;
    color: white;
}

.carousel-button:hover {
    background-color: white;
}

.carousel-button a:hover {
    color: rgb(255, 134, 53);
}

#carousel-left {
    left: 7vh;
}

#carousel-right {
    right: 7vh;
}

#find-us {
    height: min-content;
    width: 100vw;
    background: rgb(0, 82, 102);
    position: relative;
    display: flex;
    margin-bottom: 7vh;
}

#find-us-content {
    margin: 1vh auto;
    display: flex;
}

#find-us-info,
#map {
    position: relative;
    height: 50vh;
    width: 25vw;
    background: white;
    margin: 3vh;
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0 rgb(255, 134, 53);
    transform: translateY(-1vh);
}

#map {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map iframe {
    width: calc(100% - 4vh);
    height: calc(100% - 4vh);
}

#find-us-info h1 {
    padding: 2vh 0 0 2vh;
    font-size: 3.5vh;
    color: rgb(255, 102, 0);
}

#find-us-info p {
    text-align: center;
    font-size: 3vh;
    line-height: 4vh;
    width: 20vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#find-us-info em {
    font-weight: bold;
}

#products-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 85vw;
    align-items: center;
    margin: auto;
    margin-bottom: 5vh;
}

.products-content-box {
    width: min-content;
    margin-bottom: 4vh;
    background: white;
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
}

.products-content-box-content {
    padding: 3vh;
    color: rgb(0, 82, 102);
}

.products-content-box-content h1 {
    font-size: 4vh;
    line-height: 5vh;
    padding-bottom: 1vh;
    color: rgb(255, 134, 53);
    white-space: nowrap;
}

.products-content-box-content ul {
    padding-left: 3vh;
    width: 35vw;
}

.products-content-box-content p {
    font-size: 2vh;
    line-height: 2.5vh;
}

.products-content-box-content img {
    width: 30vw;
    border-radius: 0.5vh;
}

#products-content-mobile-container {
    display: none;
    position: relative;
    background: white;
    width: 90vw;
    margin: auto;
    border-radius: 2vh;
    box-shadow: -1vh 1vh 0 0 rgb(0, 82, 102);
    margin-top: 5vh;
}

#products-content-mobile {
    display: none;
    padding: 2vh;
}

.products-content-mobile-content h2 {
    text-align: center;
    font-size: 4vh;
    padding-bottom: 0;
    color: rgb(255, 134, 53);
}

.products-content-mobile-content img {
    width: 100%;
    height: auto;
    padding-bottom: 0;
}

.products-content-mobile-content ul {
    padding-bottom: 5vh;
    padding-left: 5vh;
}

.products-content-mobile-content li {
    font-size: 2vh;
    line-height: 3vh;
    color: rgb(0, 82, 102);
    font-size: 3vh;
    line-height: 4vh;
}










#reviews {
    width: 90vw;
    height: 45vh;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.review {
    height: 100%;
    width: 25%;
    background-color: rgb(255, 134, 53);
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0  rgb(0, 82, 102);
    align-items: center;
    display: flex;
}

.review-content {
    margin: 3vh;
}

.review-content p {
    text-align: center;
    color: white;
    font-size: 2vh;
}

.review-content p b {
    font-size: 3vh;
}

#why-us {
    background-color: rgb(250, 250, 255);
    position: relative;
    width: 70vw;
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0  rgb(0, 82, 102);
    margin: 10vh auto;
    padding-bottom: 5vh;
}

#why-us-button {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#why-us-button a {
    text-decoration: none;
    color: rgb(255, 102, 0);
    padding: 2vh 4vw;
    border: 2px solid rgb(255, 134, 53);
    font-size: 2.5vh;
    position: relative;
    box-shadow: inset 0 0 0 0 rgb(255, 134, 53);
    transition: 0.5s;
    border-radius: 1vh;
}

#why-us-button a:hover {
    box-shadow: inset 25vw 0 0 0 rgb(255, 134, 53);
    color: white;
}

#why-us-content {
    color: rgb(0, 82, 102);
    margin: 0 20vh;
}

#why-us-content h1 {
    margin-bottom: 5vh;
    font-size: 6vh;
}

.why-us-content-content h2 {
    text-align: center;
    font-size: 4vh;
    margin: 1vh;
    color: rgb(255, 134, 53);
}

.why-us-content-content p {
    font-size: 2vh;
    line-height: 3vh;
    margin-bottom: 5vh;
}

.float-right {
    float: right;
    height: 20vh;
    padding-left: 1vh;
}

.float-left {
    float: left;
    height: 20vh;
    padding-right: 1vh;
}









#about-main {
    width: 80vw;
    background: rgb(255, 134, 53);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
    margin: 0 auto 10vh auto;
}

.about-box {
    width: 23vw;
    height: 17vw;
    margin: 2vh 0;
    font-size: 4.5vh;
    border-radius: 1vh;
    transition: 0.3s ease-in-out;
}

.about-box a {
    text-decoration: none;
    color: white;
    width: 23vw;
    height: 17vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 82, 102, 0.5);
    border-radius: 1vh;
    text-align: center;
}

.about-box:hover {
    box-shadow: inset 0 17vw 0 0 rgb(0, 82, 102);
}

#about-1 {
    background-image: url(images/carousel1.jpg);
    background-position: center;
    background-size: cover;
}

#about-2 {
    background-image: url(images/carousel2.jpg);
    background-position: center;
    background-size: cover;
}

#about-3 {
    background-image: url(images/carousel3.jpg);
    background-position: center;
    background-size: cover;
}

#about-4 {
    background-image: url(images/carousel2.jpg);
    background-position: center;
    background-size: cover;
}

#about-5 {
    background-image: url(images/carousel3.jpg);
    background-position: center;
    background-size: cover;
}

#about-6 {
    background-image: url(images/carousel1.jpg);
    background-position: center;
    background-size: cover;
}

.pop-up {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 1001;
    background: rgba(0, 82, 102, 0.7);
    transition: 0.5s;
}

.pop-up-box {
    width: 60vw;
    height: 60vh;
    padding: 3vh 3vh;
    background: rgb(255, 134, 53);
    border-radius: 2vh;
    top: 20vh;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.pop-up-box a {
    position: absolute;
    top: 0vh;
    right: 0vh;
    padding: 2vh;
    background: rgb(255, 134, 53);
    border-radius: 2vh;
}

.pop-up-box a img{
    height: 5vh;
}

.pop-up-content {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 1vh;
    overflow-y: scroll;
}

.pop-up-content-container {
    padding: 5vh 10vh;
}

.pop-up-content-container h1 {
    color: rgb(255, 134, 53);
    margin-bottom: 2vh;
    font-size: 7vh;
}

.pop-up-content-container p {
    color: rgb(0, 82, 102);
    font-size: 2.5vh;
    line-height: 3vh;
}









#contact-main {
    position: relative;
    width: min-content;
    margin: 0 auto 10vh auto;
}

#top-row {
    display: flex;
}

#icons {
    background: rgb(255, 134, 53);
    width: min-content;
    border-radius: 3vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
}

#icons img {
    width: 10vh;
}

#email-icon {
    margin: 2vh 2vh 1vh 2vh;
}

#insta-icon {
    margin: 1vh 2vh;
}

#tiktok-icon {
    margin: 1vh 2vh 2vh 2vh;
}

#links {
    height: 39.5vh;
    background: rgb(255, 134, 53);
    border-radius: 3vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 5vh;
    width: 100%;
}

#links ul {
    list-style: none;
    color: white;
    font-size: 5.5vh;
    line-height: 10vh;
}

#bottom-row {
    margin-top: 5vh;
    display: flex;
}

#form {
    background: rgb(255, 134, 53);
    border-radius: 3vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
    padding: 5vh;
    width: 45vw;
}

#form-content {
    background: white;
    padding: 3vh;
    height: calc(100% - 6vh);
}

#form-content h1 {
    font-size: 6vh;
    color: rgb(255, 134, 53);
    margin-bottom: 1vh;
}

#form-content input {
    position: relative;
    border-radius: 1.5vh;
    border: 0.5vh solid rgb(0, 82, 102);
    height: 7vh;
    width: calc(100% - 7vh);
    font-size: 3vh;
    padding-left: 2vh;
    margin: 2vh;
}

#review-form {
    resize: vertical;
    overflow: auto;
    min-height: 50vh;
    max-height: 90vh;
    width: calc(100% - 7vh);
    margin: 2vh;
    font-size: 3vh;
    padding: 2vh 0 2vh 2vh;
    border: 0.5vh solid rgb(0, 82, 102);
    border-radius: 1.5vh;
}

#button-container {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit {
    text-decoration: none;
    color: rgb(255, 102, 0);
    padding: 2vh 6vw;
    border: 2px solid rgb(255, 134, 53);
    font-size: 2.5vh;
    box-shadow: inset 0 0 0 0 rgb(255, 134, 53);
    transition: 0.5s;
    border-radius: 1vh;
    background: none;
}
    
#submit:hover {
    box-shadow: inset 20vw 0 0 0 rgb(255, 134, 53);
    color: white;
}

#instagram {
    width: 25vw;
    height: 70vh;
    background: rgb(255, 134, 53);
    padding: 5vh;
    border-radius: 3vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
    margin-left: 5vh;
}

#instagram-content {
    overflow-y: scroll;
    background: white;
    height: 100%;
}

#tiktok {
    width: 25vw;
    height: 70vh;
    background: rgb(255, 134, 53);
    padding: 5vh;
    border-radius: 3vh;
    box-shadow: -2vh 2vh 0 0 rgb(0, 82, 102);
    margin-left: 5vh;
    margin-top: 5vh;
}

#tiktok-content {
    overflow-y: scroll;
    height: 100%;
    background: white;
}










@media (orientation: portrait) {

    /* #placeholder {
        display: flex;
        overflow: hidden;
    }

    #home-page-content {
        display: none;
    } */










    nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    #open-button {
        display: block;
    }










    .header {
        top: 0;
        height: 30vh;
        position: relative;
    }

    .header h1 {
        top: 0;
        height: 30vh;
        font-size: 7.5vh;
    }










    .footer {
        display: block;
        padding-bottom: 1vh;
    }

    .footer div {
        width: 80vw;
        height: min-content !important;
        margin: 3vh auto;
    }

    #home-footer {
        transform: initial;
    }










    #header-content {
        top: 0;
        transform: translateX(-50%);
    }
    
    #header-content p {
        white-space: wrap;
    }

    #header-content a {
        padding: 1vh 8vw;
    }

    #down {
        top: 80%;
    }

    #header-boxes,
    #header-boxes-shadows,
    #golf-course-bg {
        display: none;
    }

    #golf-course {
        margin-top: 10vh;
    }

    #golf-course-bg-portrait {
        display: block;
        width: 100%;
    }

    #products-flag-img {
        height: 30vh;
    }
    
    #products-flag-a {
        position: absolute;
        top: 56%;
        left: 15%;
    }
    
    #about-flag-img {
        height: 25vh;
    }
    
    #about-flag-a {
        position: absolute;
        top: 47%;
        left: 60%;
    }
    
    #why-flag-img {
        height: 20vh;
    }
    
    #why-flag-a {
        position: absolute;
        top: 36%;
        left: 25%;
    }
    
    #contact-flag-img {
        height: 15vh;
    }
    
    #contact-flag-a {
        position: absolute;
        top: 25%;
        left: 61%;
    }

    #scroll-to-here {
        top: 5%;
    }










    #products-box {
        top: 0;
        left: 0.5vh;
        transform: initial;
        border-radius: 1.5vh;
        box-shadow: -1vh 1vh 0 0  rgb(0, 82, 102);
        position: relative;
        margin: 5vh auto;
        padding: 0;
    }

    #products-box-content {
        position: relative;
        top: 0;
        height: auto;
        width: 80vw;
        padding: 3vh;
    }

    #products-box-content-images img {
        height: 20vh;
        margin: 0;
    }

    #products-box-content h1 {
        font-size: 3.5vh;
        margin-bottom: 1vh;
    }

    #products-box-content-images {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        margin: auto;
    }

    #products-box-content-images img{
        width: 45%;
        height: auto;
        padding: 0.5vh;
    }

    #products-shop-button {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        padding: 2vh 0;
        width: 70vw;
        margin-top: 2vh;
        text-align: center;
    }

    #products-carousel {
        position: relative;
        margin: 0;
        width: 70vw;
    }
    
    #products-carousel-image-container {
        background-color: #82e9ff;
        border-radius: 0;
        width: 100vw;
        height: auto;
        box-shadow: none;
        position: relative;
    }
    
    #products-carousel-image-left {
        display: none;
    }
    
    #products-carousel-image {
        height: auto;
        width: 85vw;
        border-radius: 2vh;
        border: none;
        margin: 0;
        border: 5px solid white;
    }
    
    #products-carousel-image-right {
        display: none;
    }
    
    .carousel-button {
        top: 50%;
        transform: translateY(-50%);
        border-radius: 0.5vh;
        height: 6vh;
        width: 6vh;
    }

    .carousel-button a {
        font-size: 5vh;
        transform: translate(-50%, -50%)
    }
    
    #carousel-left {
        left: 1vh;
        box-shadow: 0.7vh 0.7vh 0 0 rgb(0, 82, 102);
    }
    
    #carousel-right {
        right: 1vh;
        box-shadow: -0.7vh 0.7vh 0 0 rgb(0, 82, 102);
    }

    #find-us {
        position: relative;
        margin: 7vh 0 0 0;
    }

    #find-us-content {
        margin: auto;
        display: block;
    }

    #find-us-info,
    #map {
        height: 40vh;
        width: 80vw;
        background: white;
        margin: 4vh;
        border-radius: 2vh;
        box-shadow: -1vh 1vh 0 0 rgb(255, 134, 53);
    }

    #find-us-info p {
        font-size: 2vh;
        width: 60vw;
        height: 30vh;
        transform: initial;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
    }

    #map {
        width: 80vw;
    }

    #map iframe {
        margin: 1.5vh;
        width: 73.5vw;
        height: 36.5vh;
    }

    #products-content {
        display: none;
    }

    #products-content-mobile-container {
        display: block;
        margin: 8vh auto;
    }

    #products-content-mobile {
        display: block;
    }










    #reviews {
        position: relative;
        width: min-content;
        height: min-content;
        display: block;
        top: 0;
        transform: translateX(1vw);
        padding: 3vh 0;
        margin-bottom: 2vh;
    }

    .review {
        position: relative;
        top: 0;
        width: 85vw;
        margin: 4vh 3vh;
        box-shadow: -1.5vh 1.5vh 0 0 rgb(0, 82, 102);
    }
    
    #why-us {
        position: relative;
        width: 100vw;
        top: 0;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    #why-us-content {
        margin: auto;
        width: 90vw;

    }

    #why-us a {
        position: absolute;
        padding: 2vh 8vw;
        white-space: nowrap;
        margin: 2vh auto;
    }

    #why-us img {
        width: 100%;
        height: auto;
        padding-bottom: 2vh;
    }










    #about-main {
        display: flex;
        top: 5vh;
        padding: 3vh 3vh 0 3vh;
        transform: translateX(2vw);
        width: 75vw;
        margin-bottom: 12vh;
    }

    .about-box {
        width: 100%;
        height: 20vh;
        margin: 0 auto 3vh 0;
    }

    .about-box a {
        width: 100%;
        height: 20vh;
        font-size: 3.5vh;
        background: rgba(0, 82, 102, 0.7);
    }

    .about-box:hover {
        box-shadow: inset 0 20vh 0 0 rgb(0, 82, 102);
    }

    .pop-up {
        transform: translate(-2vw, -35vh);
        position: fixed;
    }

    .pop-up-box {
        padding: 2vh;
        width: 80vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
    }

    .pop-up-box a {
        padding: 1.2vh;
    }

    .pop-up-box a img{
        height: 4vh;
    }

    .pop-up-content-container {
        padding: 3vh;
    }

    .pop-up-content-container h1 {
        font-size: 5vh;
    }










    #contact-main {
        margin-top: 2vh;
        left: 1vh;
    }

    #top-row {
        width: min-content;
    }

    #bottom-row {
        margin-top: 4vh;
    }

    #links {
        display: none;
    }

    #email-icon,
    #insta-icon,
    #tiktok-icon {
        margin: 1.5vh;
    }

    #instagram {
        display: none;
    }

    #tiktok {
        display: none;
    }

    #icons {
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        padding: 0 1.5vh;
    }

    #form {
        width: 100%;
        padding: 2vh;
    }

    #form-content {
        border-radius: 1vh;
    }

    #form-content input, #form-content textarea {
        width: 90%;
        position: relative;
        margin: 0 auto 2vh auto;
    }

}
